body {
    font-family: arial;
}

strong {
    color: #d60000;
}

.rect {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    text-align: center;
    font-weight: 900;
}

.top {
    font-size: .85em;
    font-weight: 400;
}

.word {
    font-size: .9em;
    font-weight: 600;
}

.red {
    background: #e30000;
    color: white;
    font-size: 1.3em;
}

.gold {
    background: #fcc200;
    color: black;
    font-size: 1.3em;
}

.yellow {
    background: #fdf9ca;
    color: #fdf9ca
}

.inner {
    background: #fdf9ca;
}