body{
    font-family: arial black
}
strong {
    color: red;
    color;
}
.rect {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    font-weight: 900;
    font-family: arial black;
    letter-spacing: .em;
}

.red {
    background: red;
    color: white
}

.gold {
    background: gold;
    color: black;
}

.yellow {
    background: #fdf9ca;
    color: #fdf9ca
}

.inner {
    background: #fdf9ca;
}